<h1>Log In</h1>

<form method="post" action="LogIn">
    <div>
        Username :
        <input type="text" name="username" id="username" />
    </div>
    <div>
        Password :
        <input type="password" name="password" id="password" />
    </div>
    <div>
        <button type="submit">Log In</button>
    </div>
</form>