<h2>Add Vehicle</h2>

<form method="post">
    <div>
        <label>Vehicle Id</label><br />
        <input type="number" name="id" required />
    </div>
    <div>
        <label>Brand</label><br />
        <input type="text" name="brand" required />
    </div>
    <div>
        <label>Model</label><br />
        <input type="text" name="model" required />
    </div>
    <div>
        <label>Year</label><br />
        <input type="number" name="year" required />
    </div>
    <div>
        <label>Price</label><br />
        <input type="number" name="price" required />
    </div>
    <br />
    <button type="submit">Save</button>
</form>